body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color:mistyrose;
background-size: cover;
text-align: center;
font-weight: bolder;
}

h1 {
    background-color: blue;
}

#message-el {
font-size: larger;
color: blueviolet;
font-style: italic;
}

#message-el:hover{
    color: black;
}

.start:hover {
    background-color: red;
    color: white;
  }

.start {
transition-duration: 0.4s;
background-color: goldenrod;
width: 150px;
color: #016f32;
padding-top: 5px;
padding-bottom: 5px;
font-weight: bolder;
border: none;
border-radius: 2px;
margin-top: 2px;
margin-bottom: 2px;
}